/* NAV Section
--------------------------------*/


nav {
    position: fixed;
    background: #fff;
    z-index: 1000;
    width: 100%;
    padding: 10px;
    display: none;
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
}

.nav-menu {
    float: right;
    line-height: 32px;
    margin-bottom: 0;
    padding-top: 16px;
}

nav ul li {
    float: left;
    margin-right: 15px;
    font-family: Poppins-Regular, sans-serif;
    font-size: 14px;
    margin-left: 40px;
}

nav ul li a {
    padding: 2px 0 0 0;
    position: relative;
    display: block;
    font-size: 14px;
    color: #999999;
    font-family: 'Poppins', helvetica;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

nav .logo {
    float: left;
    display: none;
}

nav .logo-mobile {
    float: left;
}

.responsive {
    color: #ee3938;
    float: right;
    font-size: 23px;
    user-select: none;
}

.responsive:focus{
    outline: 0;
}

@media (min-width: 768px) {
    nav .logo-mobile {
        display: none;
    }

    .responsive {
        display: none;
    }

    nav .logo {
        display: block;
    }
}

.logo img {
    width: 100px;
    height: 50px;
    transform: scale(1.6);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: bottom;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .nav-menu li {
        width: 100%;
        text-align: center;
    }
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
    margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
    padding: 22px 15px 18px 15px;
    text-decoration: none;
    display: inline-block;
    color: darkslategrey;
    font-family: Poppins-Regular, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
    color: #ee3938;
    text-shadow:0px 0px 1px #ee3938;
}

.menu-has-children ul li {
    color: #FFFFFF;
}

.nav-menu ul {
    margin: 4px 0 0 15px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
    background: #fff;
    padding: 5px;
    border-top: 0px solid #f4f4f4;
}

.nav-menu ul li:first-child {
    border-top: 0;
}

.nav-menu ul li:hover {
    background: #ee3938;
    color: #f2f2f2;
    transition: 0.3s;
}

.nav-menu ul li a {
    color: #333;
    transition: none;
    padding: 10px 15px;
}

.nav-menu ul li a:hover {
    color: #fff;
}

.nav-menu ul ul {
    margin: 0;
}


/*Animated Icon*/

.animated-icon {
    width: 30px;
    height: 20px;
    float: right;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon span {
    background: #ee3938;
}

.animated-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}