/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins-Light.ttf) format('truetype');
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Poppins-Black;
    src: url(../fonts/Poppins-Black.ttf) format('truetype');
}

body {
    color: #666666;
    font-family: Poppins-Regular, sans-serif;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f1f1ff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f4f4ff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f8f8ff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23fbfbff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffffff' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffffff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffffff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffffff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23ffffff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffffff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

a {
    color: #ee3938;
    cursor: pointer;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

a:hover,
a:active,
a:focus {
    color: #ee3938;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

::selection {
    background: #ff4141;
    color: #FFFFFF;
}

::-moz-selection {
    background: #ff4343;
    color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins-Medium, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: Poppins-Bold, sans-serif;
    overflow: hidden;
}

p {
    font-family: Poppins-Light, sans-serif;
}

#main {
    padding-top: 50px;
    min-height: 75vh;
}

.img-fluid {
    background-size: cover;
}

/*!* Back to top button *!*/

/*.back-to-top {*/
/*    position: fixed;*/
/*    display: none;*/
/*    background: #ee3938;*/
/*    color: #fff;*/
/*    width: 44px;*/
/*    height: 44px;*/
/*    text-align: center;*/
/*    line-height: 1;*/
/*    font-size: 16px;*/
/*    border-radius: 50%;*/
/*    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);*/
/*    left: 24px;*/
/*    bottom: 30px;*/
/*    transition: background 0.5s;*/
/*    z-index: 11;*/
/*}*/

/*.back-to-top i {*/
/*    padding-top: 12px;*/
/*    color: #fff;*/
/*}*/

/* Preloader */

/*#preloader {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    z-index: 9999;*/
/*    overflow: hidden;*/
/*    background: #fff;*/
/*}*/

/*#preloader:before {*/
/*    content: "";*/
/*    position: fixed;*/
/*    top: calc(50% - 30px);*/
/*    left: calc(50% - 30px);*/
/*    border: 6px solid #f2f2f2;*/
/*    border-top: 6px solid #ee3938;*/
/*    border-radius: 50%;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    -webkit-animation: animate-preloader 1s linear infinite;*/
/*    animation: animate-preloader 1s linear infinite;*/
/*}*/

/*@-webkit-keyframes animate-preloader {*/
/*    0% {*/
/*        -webkit-transform: rotate(0deg);*/
/*        transform: rotate(0deg);*/
/*    }*/

/*    100% {*/
/*        -webkit-transform: rotate(360deg);*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

/*@keyframes animate-preloader {*/
/*    0% {*/
/*        -webkit-transform: rotate(0deg);*/
/*        transform: rotate(0deg);*/
/*    }*/

/*    100% {*/
/*        -webkit-transform: rotate(360deg);*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

.whats-float {
    position: fixed;
    width: 40px;
    height: 60px;
    bottom: 60%;
    right: 0;
    overflow: hidden;
    background-color: #25d366;
    color: #FFF;
    border-radius: 10px 0 0 10px;
    text-align: center;
    font-size: 28px;
    z-index: 100;
}

.whats-float:hover {
    width: 70px;
    color: #FFFFFF;
}

.my-float {
    margin-top: 16px;
}

.whats-tooltip + .tooltip.top > .tooltip-arrow {
    background-color: #25d366;
}


.tooltip-inner {
    background-color: #ff4343;
}

.tooltip-arrow {
    border-color: #ff4343;
    background-color: #ff4343;
    color: #ff4343;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.top-bar {
    padding: 0 0 30px 0;
    font-size: 14px;
    position: absolute;
    margin-top: 45px;
    width: 100%;
    z-index: 999;
    transition: all 0.5s;
}

.top-bar .media-links {
    text-align: right;
    z-index: 999;
}

.top-bar .media-links a {
    font-size: 15px;
    display: inline-block;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.top-bar .media-links a:hover {
    background: #ee3938;
    color: #fff;
    transform: scale(1.2);
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.top-bar .media-links a:first-child {
    border-left: 0;
}

@media (max-width: 768px) {
    .top-bar {
        display: none;
    }
}

#intro {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000;
}

#intro .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#intro .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .carousel-background img {
    max-width: 100%;
}

#intro .carousel-content {
    text-align: center;
}

#intro h1, #intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
}

#intro p {
    width: 85%;
    margin: 0 auto 30px auto;
    color: #fff;
}

@media (max-width: 512px) {
    #intro h1, #intro h2 {
        color: #fff;
        font-size: 18px;
    }

    #intro p {
        font-size: 12px;
    }
}


#intro .intro-logo-banner-float {
    height: 40vh;
    z-index: 99;
    width: 100%;
    display: block;
    position: absolute;
    margin: -28vh auto 20px;
}

.demo{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.demo a {
    position: absolute;
    bottom: 80px;
    width: 120px;
    height: 120px;
    border-radius: 50px;
    display: block;
    text-align: center;
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font-family: Poppins-Light, sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .2s;
    padding-top: 60px;
}

.demo a:hover {
    opacity: .5;
}

#section04 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}
@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    #intro .intro-logo-banner-float {
        height: 30vh;
        margin: -20vh auto 20px;
    }
}

@media (max-width: 768px) {
    #intro .intro-logo-banner-float {
        height: 30vh;
        margin: -20vh auto 20px;
    }
}

#intro .carousel-fade {
    overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: all 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
    width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
}

#intro .carousel-indicators li {
    cursor: pointer;
}

#intro .btn-get-started {
    font-family: Poppins-Medium, sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 180px;
    position: absolute;
    margin-left: -90px;
    bottom: 15vh;
    z-index: 20;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #ee3938;
    -webkit-animation: sdb05 2s infinite;
    animation: sdb05 1.5s infinite;
}
#intro .btn-get-started i{
    display: block;
    -webkit-animation: sdb05 2s infinite;
    animation: sdb05 1.5s infinite;
}

#intro .btn-get-started:hover {
    background: #fff;
    color: #ee3938;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform:  translate(0, 0);
    }
    20% {
        -webkit-transform:  translate(0,10px);
    }
    40% {
        -webkit-transform:  translate(0, 0);
    }
}
@keyframes sdb05 {
    0% {
        transform:  translate(0, 0);
    }
    20% {
        transform:  translate(0,10px);
    }
    40% {
        transform: translate(0, 0);
    }
}

/*--------------------------------------------------------------
# Intro Single Section
--------------------------------------------------------------*/

.shadow-title .title {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 10;
    font-size: 32px;
}

.shadow-title .title2 {
    color: #ee3938;
    font-weight: 700;
    opacity: 0.1;
    position: absolute;
    margin-top: -60px;
    z-index: -999;
    margin-left: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 52px;
}

.intro-single {
    padding: 4rem 0 0rem;
}

.intro-single .title-single-box {
    padding: 1rem 0 1rem 2rem;
}

.intro-single .title-single-box {
    border-left: 12px solid #ee3938;
}

.intro-single .title-single-box .title-single {
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    font-size: 2.2rem;
}

.intro-single .title-single-box .title-single2 {
    color: #ee3938;
    font-weight: 700;
    opacity: 0.1;
    position: absolute;
    margin-top: -60px;
    z-index: -999;
    margin-left: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 3rem;
}

@media (max-width: 768px) {
    .intro-single .title-single-box .title-single2 {
        max-width: 90vw;
        margin-left: -30px;
    }
}

.intro-single .breadcrumb-box {
    padding: 1rem 0 0 .5rem;
}

.intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
}

.intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 2px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 5px;
    background: #ee3938;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}

/* Section with background
--------------------------------*/

.section-bg {
    background: #f7f7f7;
}

.section-white {
    background: #fff;
}

/* Featured Services Section
--------------------------------*/

#featured-services {
    /*background: linear-gradient(90deg, #ee3938 50%, #1b345e 50%);*/
    background-color: #ee3938;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23e33635' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23e33635' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

#featured-services .box {
    padding: 30px 20px;
}


#featured-services .box-bg {
    background: #1b345e;
}

#featured-services .box-bg-red {
    background: transparent;
}

#featured-services i {
    color: white;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
}

#featured-services h4 {
    font-weight: 400;
    font-family: Poppins-Bold, sans-serif;
    margin: 15px 0;
    font-size: 18px;
}

#featured-services h4 a:hover {
    font-size: 1.5rem;
    transition: 0.5s;
}

#featured-services h4 a {
    color: #fff;

}

#featured-services p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
}

/* About Us Section
--------------------------------*/

#vision {
    background: url("../img/about-bg-low.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
}

#vision::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
}

#vision .container {
    position: relative;
    z-index: 10;
}

#vision .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    transition: 0.5s;
}

#vision .about-col .img {
    position: relative;
}

#vision .about-col .img img {
    border-radius: 4px 4px 0 0;
}

#vision .about-col .icon {
    width: 64px;
    height: 64px;
    padding-top: 8px;
    text-align: center;
    position: absolute;
    background-color: #ee3938;
    border-radius: 50%;
    border: 4px solid #fff;
    left: calc(50% - 32px);
    bottom: -30px;
    transition: 0.3s;
}

#vision .about-col i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    transition: 0.3s;
}

#vision .about-col:hover .icon {
    background-color: #fff;
    transition: 1s;
    transform: translateY(10px);
}

#vision .about-col:hover {
    transition: 1s;
    transform: translateY(-25px);
}


#vision .about-col:hover i {
    color: #ee3938;
}

#vision .about-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
}

#vision .about-col h2 a {
    color: #000;
}

#vision .about-col h2 a:hover {
    color: #ee3938;
}

#vision .about-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
}

/* Businesses Section
--------------------------------*/

#business {
    padding: 60px 0 10px;
    text-align: justify;
    background: transparent;
}

#business .box {
    margin-bottom: 30px;
}

#business .logo-img img {
    float: top;
    text-align: center;
    transition: 0.5s;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 15px;
    display: block;
}

#business .business-logo {
    min-height: 30px;
    max-width: 100vw;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    #business .box {
        margin-bottom: 80px;
    }

    #business .logo-img img {
        margin-bottom: 10px;
        max-height: 15vw;
    }

}


#business .logo-img img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#business .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#business .title a {
    color: #111;
}

#business .box:hover .title a {
    color: #ee3938;
}

#business .description {
    font-size: 13px;
    line-height: 24px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0;
}

#business a {
    padding-left: 10px;
    padding-right: 10px;
}


/* Services Section
--------------------------------*/

#services {
    color: #FFFFFF;
    background-size: cover;
    padding: 60px 0 40px 0;
}

#services .box {
    margin-bottom: 30px;
}

#services .icon {
    float: left;
}

#services .icon i {
    color: #ee3938;
    font-size: 36px;
    line-height: 1;
    transition: 0.5s;
}

#services .title {
    margin-left: 60px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 18px;
    color: black;
}

#services .title {
    color: #111;
    transition: 0.5s;
}

#services .box:hover .title {
    color: #ee3938;
    transition: 0.5s;
}

#services .box:hover .icon i {
    color: black;
    transition: 0.5s;
}

#services .description {
    font-size: 14px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
}

/* Call To Action Section
--------------------------------*/

#call-to-action {
    /*background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(/img/call-to-action-bg-low.jpg) fixed center center;*/
    background-color: #ee3938;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23750000'/%3E%3Cstop offset='1' stop-color='%23d13939'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23750000'/%3E%3Cstop offset='1' stop-color='%23b00000'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 60px 0;
}

#call-to-action h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#call-to-action p {
    color: #fff;
}

#call-to-action .cta-btn {
    font-family: Poppins-Medium, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#call-to-action .cta-btn:hover {
    background: #ee3938;
    border: 2px solid #ee3938;
}

/* Facts Section
--------------------------------*/

#facts {

    padding: 60px 0 0 0;
    position: relative;
}

@media (min-width: 768px) {
    #facts {
        background: url("../img/building-painted.jpg") center top no-repeat fixed;
        background-size: cover;
    }
}

#facts::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.88);
    z-index: 9;
}

#facts .container {
    position: relative;
    z-index: 10;
}

#facts .counters span {
    font-family: Poppins-Medium, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    overflow: hidden;
    width: 50px;
    color: #ee3938;
}

#facts .counters plus {
    display: block;
    float: left;
    font-size: 2.5rem;
    color: #ee3938;
}

#facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: Poppins-Light, sans-serif;
    font-size: 14px;
    color: #111;
}

#facts .facts-img {
    text-align: center;
    padding-top: 30px;
}

/* Portfolio & Gallery Section
--------------------------------*/

#portfolio, #gallery {
    padding: 60px 0;
    background: transparent;
}


#portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);;
    margin: 15px 15px 5px 0;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#portfolio-flters li:hover,
#portfolio-flters li.filter-active {
    background: #ee3938;
    color: #fff;
}

#portfolio-flters li:last-child {
    margin-right: 0;
}

#portfolio .portfolio-wrap {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
    position: relative;
    height: 360px;
    overflow: hidden;
}

#gallery .portfolio-container {
    overflow: hidden;
}

#gallery .portfolio-wrap {
    margin: 0;
    object-fit: cover;
    padding: 0;
}

#gallery .portfolio-wrap img {
    min-height: 360px;
    position: absolute;
    height: 100%;
    width: 100%;
}

#gallery .portfolio-item {
    position: relative;
    height: 240px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap .fig {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

#portfolio .fig a img, #gallery .portfolio-wrap a img {
    transition: 0.5s;
    overflow: hidden;
    object-fit: cover;
}

#portfolio .fig:hover a img, #gallery .portfolio-wrap a:hover img {
    transform: scale(1.05);
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}


#portfolio .portfolio-item .portfolio-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 90px;
    border-radius: 0 0 3px 3px;
}

#portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-info h4 a {
    color: #333;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
    color: #ee3938;
}

#portfolio .portfolio-item .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}


/* Clients Section
--------------------------------*/

#clients {
    padding: 60px 0;
}

#clients img {
    max-width: 100%;
    opacity: 0.5;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    filter: grayscale(100%);
    padding: 15px 0;
}

#clients img:hover {
    opacity: 1;
    filter: grayscale(0%);
}

#clients .owl-nav,
#clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#clients .owl-dot.active {
    background-color: #ee3938;
}

/* Testimonials Section
--------------------------------*/

#testimonials {
    padding: 60px 0;
    background-color: #1b345e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%231b345e' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%231b325c' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231c3159' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%231c2f57' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%231d2d54' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%231d2c51' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%231d2a4f' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%231e284c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%231e2649' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%231e2446' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%231f2142' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%231f1f3f' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%231f1c3b' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23201937' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23201633' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2320122f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23210d2a' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

#testimonials .section-header {
    margin-bottom: 40px;
    color: #FFFFFF;
}

#testimonials .section-header h3 {
    color: #FFFFFF;
}

#testimonials .testimonial-item {
    text-align: center;
}

#testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

#testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #eee;
}

#testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #fff;
    margin: 0 0 15px 0;
}

#testimonials .testimonial-item .quote-sign-left {
    margin-top: -20px;
    padding-right: 10px;
    color: #ee3938;
    display: inline-block;
    width: 37px;
}

#testimonials .testimonial-item .quote-sign-left i {
    font-size: 24px;
}

#testimonials .testimonial-item .quote-sign-right {
    margin-bottom: -20px;
    padding-left: 10px;
    display: inline-block;
    color: #ee3938;
    max-width: 100%;
    width: 37px;
}

#testimonials .testimonial-item .quote-sign-right i {
    font-size: 24px;
}

#testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#testimonials .owl-dot.active {
    background-color: #ee3938;
}


/* Contact Section
--------------------------------*/

#contact {
    padding: 60px 0;
    background: transparent;
}

#contact .map {
}

#contact .contact-info {
    width: 100%;
    margin: 10px auto 20px;
    text-align: center;
}

#contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #ee3938;
}

#contact .contact-info address,
#contact .contact-info p {
    margin-bottom: 0;
    color: #000;
}

#contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ee3938;
}

#contact .contact-info a {
    color: #000;
}

#contact .contact-info a:hover {
    color: #ee3938;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
    margin-bottom: 20px;
}

#contact .contact-email p {
    overflow-wrap: break-word;
    width: 100%;
}

#contact .form #sendmessage {
    color: #ee3938;
    border: 1px solid #ee3938;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#contact .form input,
#contact .form textarea {
    padding: 10px 14px;
    border-radius: 5px;
    border-color: #dedede;
    box-shadow: none;
    font-size: 15px;
}

#contact .form input:focus,
#contact .form textarea:focus {
    border-color: #ee3938;
    /*box-shadow: 0 4px 3px rgba(0, 0, 0, 0.10);*/
}

#contact .form input[type="submit"] {
    background: #ee3938;
    padding: 10px 30px;
    color: #fff;
    border: 1px solid;
    border-radius: 50px;
    transition: 0.4s;
    cursor: pointer;
}

#contact .form input[type="submit"]:hover {
    background: #FFFFFF;
    color: #ee3938;
    border-color: #ee3938;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}


.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    /* 20px */
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 1.5rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    font-size: 18px;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color: #f1e5e6;
    width: 100%;
    background-color: #ee3938;
    border-radius: 5px;
    border: 1px solid;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background: #FFFFFF;
    color: #ee3938;
    border-color: #ee3938;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #000;
    padding: 0 0 20px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: #111;
    padding: 20px 0 10px 0;
}

#footer .socials-media {
    width: 100%;
}

#footer .socials-media ul {
    display: inline-block;
    float: none;
}

#footer .socials-media ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#footer .socials-media ul li a {
    font-size: 18px;
    display: inline-block;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .socials-media ul li a:hover {
    background: #ee3938;
    transform: scale(1.1);
    color: #fff;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    font-size: 0.8rem;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
    #contact .contact-address,
    #contact .contact-phone,
    #contact .contact-email {
        padding: 10px 12px;
        word-break: break-all;
        overflow-wrap: break-word;
    }

    #contact .line {
        border-left: 1px solid #ddd;
    }
}

@media (min-width: 992px) {
    #testimonials .testimonial-item p {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    #header #logo {
        padding-left: 60px;
    }

    #intro p {
        width: 60%;
    }

    #intro .carousel-control-prev,
    #intro .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }

    #intro h2 {
        font-size: 28px;
    }

}


/* About Us Section
--------------------------------*/
#about {
    padding: 80px 0;
}

#about .background {
    height: 300px;
    max-width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
}

#about .logo {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

#about .about-container .content {
}

#about .about-container .title {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
}

#about .about-container .title2 {
    color: #ee3938;
    font-weight: 700;
    opacity: 0.2;
    margin-top: -60px;
    z-index: -999;
    margin-left: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 52px;
}

@media (max-width: 768px) {
    #about .about-container .title {
        padding-top: 15px;
    }
}

#about .about-container p {
    line-height: 26px;
}

#about .about-container p:last-child {
    margin-bottom: 0;
}

#about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #ee3938;
}

#about .about-container .icon-box .icon i {
    color: #ee3938;
    font-size: 24px;
}

#about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
}

#about .about-container .icon-box .title a {
    color: #111;
}

#about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

/* History Section
--------------------------------*/
#history {
    background-color: #ee3938;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23e33635' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23e33635' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
    color: #FFFFFF;
    padding: 80px 0;
}

#history .div-img-bg {
    padding-bottom: 20px;
    margin-right: 20px;
    border: 10px solid white;
}

@media (max-width: 768px) {
    #history .div-img-bg {
        overflow: hidden;
    }
}

#history .about-container .background {
    height: 400px;
    min-width: 500px;
    overflow: hidden;
    float: left;
    background: url(../img/about-plan.jpg) center top no-repeat;
    margin-bottom: 10px;
    background-size: cover;
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    margin-top: -60px;
    margin-left: 30px;
    object-fit: cover;
}

#history .about-container .content {
    /*background: #fff;*/
}

#history .about-container .title {
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;
}

#history .about-container .title2 {
    color: #FFFFFF;
    font-weight: 700;
    opacity: 0.2;
    margin-top: -60px;
    margin-left: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 52px;
}

#history .about-container p {
    line-height: 26px;
    margin-top: 100px;
}

@media (max-width: 768px) {
    #history .about-container .title {
        padding-top: 15px;
    }

    #history .about-container p {
        line-height: 26px;
        margin-top: 0;
    }
}


#history .about-container p:last-child {
    margin-bottom: 0;
}

#history .about-container .icon-box {
    padding: 0 0 30px 0;
}

#history .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #ee3938;
}

#history .about-container .icon-box .icon i {
    color: #ee3938;
    font-size: 24px;
}

#history .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
}

#history .icon-box h4 {
    color: #FFFFFF;
}

#history .about-container .icon-box .title a {
    color: #111;
}

#history .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

/* Business Section
--------------------------------*/

#businessPage {
    padding: 60px 0 40px 0;
}

#businessPage .container {
    position: relative;
    z-index: 10;
}

#businessPage .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    transition: 0.5s;
}

#businesspPage .about-col .img {
    position: relative;
}

#businessPage .about-col .img img {
    border-radius: 4px 4px 0 0;
}

#businessPage .about-col i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    transition: 0.3s;
}

#businessPage .about-col:hover {
    transition: 1s;
    transform: translateY(-25px);
}

#businessPage .about-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
}

/* Other
--------------------------------*/

.btn {
    background: #ee3938;
    padding: 10px 30px;
    color: #fff;
    border: 1px solid;
    border-radius: 50px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    cursor: pointer;
}

.btn:hover {
    background: #FFFFFF;
    color: #ee3938;
    border-color: #ee3938;
    transition: 0.5s;
}

.highlight-on-hover {
    transition: 0.5s ease-in-out;
}

.highlight-on-hover:hover {
    color: #ee3938;
    transition: 0.5s ease-out;
}


.pagination-a .pagination .page-link {
    margin: 0 .2rem;
    border-color: transparent;
    padding: .5rem .8rem;
    color: #000000;
}

.pagination-a .pagination .page-link:hover,
.pagination-a .pagination .page-link:active,
.pagination-a .pagination .page-link:focus {
    background-color: #2eca6a;
}

.pagination-a .pagination .page-link span {
    font-size: 1.2rem;
}

.pagination-a .pagination .next .page-link {
    padding: .4rem .9rem;
}

.pagination-a .pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination-a .pagination .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination-a .pagination .page-item.disabled .page-link {
    padding: .4rem .9rem;
    color: #555555;
}

.pagination-a .pagination .page-item.active .page-link {
    background-color: #2eca6a;
}

.a {
    color: #2eca6a;
    font-size: 1.3rem;
}


.card-header-b {
    padding: 1rem;
    color: #ffffff;
    position: absolute;
    bottom: 20px;
    z-index: 2;
}

.card-header-b .category-b {
    font-size: .9rem;
    background-color: #2eca6a;
    padding: .3rem .7rem;
    color: #313131;
    letter-spacing: 0.030em;
    border-radius: 50px;
    text-decoration: none;
}

.card-header-b .title-2 {
    margin-bottom: 0;
    padding: .6rem 0;
    font-size: 1.5rem;
}

.card-header-b .title-2 a {
    color: #ffffff;
    text-decoration: none;
}

.card-header-b .date-b {
    color: #d8d8d8;
    font-size: 1rem;
}


.card-box-a,
.card-box-b,
.card-box-d {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-box-a .img-a,
.card-box-a .img-b,
.card-box-b .img-a,
.card-box-b .img-b {
    transition: .8s all ease-in-out;
}

.card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card-shadow {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-shadow:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}


@media (max-width: 767px) {
    .text-brand {
        font-size: 1.8rem;
    }

    .section-t8 {
        padding-top: 4rem;
    }

    .section-t4 {
        padding-top: 2rem;
    }

    .section-md-t3 {
        padding-top: 3rem;
    }

    .section-tb85 {
        padding: 4rem 0 2.5rem 0;
    }

    .intro-single {
        padding-top: 9rem;
    }

    .card-box-a,
    .card-box-b,
    .card-box-c,
    .card-box-d {
        margin-bottom: 2.5rem;
    }

    .card-box-a .card-overlay-a-content {
        bottom: 65px;
    }

    .card-box-a .card-body-a {
        padding-bottom: 1rem;
    }

    .property-agent {
        margin-top: 2.5rem;
    }

    .card-box-c {
        margin-bottom: 2rem;
    }

    .card-body-c {
        padding: 0;
    }
}

@media (max-width: 575px) {
    .box-collapse .title-box-d {
        left: 35px;
    }

    .box-collapse .title-box-d .title-d {
        font-size: 1.3rem;
    }
}
